Source: scons
Section: devel
Priority: optional
Maintainer: Jörg Frings-Fürst <debian@jff-webhosting.net>
Uploaders: László Böszörményi <gcs@debian.org>
Build-Depends: debhelper (>= 9), python (>= 2.6.6-3~)
Standards-Version: 3.9.5
X-Python-Version: >= 2.4
Homepage: http://www.scons.org/
Vcs-Git: git://anonscm.debian.org/collab-maint/scons.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/scons.git;a=summary

Package: scons
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: replacement for make
 SCons is a make replacement providing a range of enhanced features such
 as automated dependency generation and built in compilation cache
 support.  SCons rule sets are Python scripts so as well as the features
 it provides itself SCons allows you to use the full power of Python
 to control compilation.
